
    <%- include('header'); -%>
    
    <div class="box" id="heading">
        <h1> <%= ListTitle %> </h1>
    </div>
    <div class="box">
        <ul>
           <% for(var i=0; i<Newlistitems.length; i++){%>
               <div class="item">
                   <input type="checkbox">
                <p><%= Newlistitems[i] %></p> 
               </div>
           <% }%>
        </ul>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Items" autocomplete="off">
            <button type="submit" name="list" value=<%= ListTitle %>>+</button>
        </form>
    </div>

    <%- include('footer'); -%>